<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.8.3 - https://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e0785f9d12a33d3e73f5a21fc90b0b1:e8cad6c4cd09d9bcb72589730d3fb0fa:2ee61f6fc63ad83c52f156a434c18aa6$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>FrogAnimations.1.png</string>
                <key>size</key>
                <string>{1355,2011}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jump/jump_00010.png</string>
                        <key>spriteOffset</key>
                        <string>{120,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{330,326}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jump/jump_00009.png</string>
                        <key>spriteOffset</key>
                        <string>{126,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{333,1},{326,317}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jump/jump_00008.png</string>
                        <key>spriteOffset</key>
                        <string>{131,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{661,1},{319,308}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jump/jump_00007.png</string>
                        <key>spriteOffset</key>
                        <string>{135,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{982,1},{307,298}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jump/jump_00006.png</string>
                        <key>spriteOffset</key>
                        <string>{140,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{982,301},{296,286}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jump/jump_00005.png</string>
                        <key>spriteOffset</key>
                        <string>{142,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{661,311},{289,277}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jump/jump_00004.png</string>
                        <key>spriteOffset</key>
                        <string>{136,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{333,320},{276,276}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jump/jump_00003.png</string>
                        <key>spriteOffset</key>
                        <string>{129,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{1,329},{275,262}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jump/jump_00002.png</string>
                        <key>spriteOffset</key>
                        <string>{123,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{1,593},{273,248}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00000.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00000.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00001.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00002.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00003.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00004.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00005.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00006.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00007.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00008.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00009.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00010.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00011.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00012.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00013.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00014.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00015.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00016.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00017.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00018.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00019.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00020.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00021.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00022.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>origin/origin_00023.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{952,589},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00001.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{611,590},{282,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00002.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{276,598},{282,233}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00003.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{895,825},{281,232}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00004.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{560,826},{281,231}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00005.png</string>
                        <key>spriteOffset</key>
                        <string>{100,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{276,833},{281,231}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00006.png</string>
                        <key>spriteOffset</key>
                        <string>{101,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{1,843},{230,280}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00007.png</string>
                        <key>spriteOffset</key>
                        <string>{101,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{559,1059},{280,229}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00009.png</string>
                        <key>spriteOffset</key>
                        <string>{101,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{233,1066},{280,229}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00008.png</string>
                        <key>spriteOffset</key>
                        <string>{101,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{1,1125},{228,280}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jump/jump_00001.png</string>
                        <key>spriteOffset</key>
                        <string>{113,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{841,1059},{274,234}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00010.png</string>
                        <key>spriteOffset</key>
                        <string>{101,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{1117,1059},{228,280}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00011.png</string>
                        <key>spriteOffset</key>
                        <string>{101,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{515,1290},{280,227}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00012.png</string>
                        <key>spriteOffset</key>
                        <string>{102,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{231,1297},{279,226}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00013.png</string>
                        <key>spriteOffset</key>
                        <string>{102,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{1,1407},{226,278}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00014.png</string>
                        <key>spriteOffset</key>
                        <string>{102,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{797,1295},{278,225}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00015.png</string>
                        <key>spriteOffset</key>
                        <string>{102,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{512,1519},{278,224}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00016.png</string>
                        <key>spriteOffset</key>
                        <string>{102,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{229,1525},{278,224}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00017.png</string>
                        <key>spriteOffset</key>
                        <string>{102,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{1,1687},{223,278}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00018.png</string>
                        <key>spriteOffset</key>
                        <string>{103,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{1077,1341},{277,223}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00019.png</string>
                        <key>spriteOffset</key>
                        <string>{103,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{792,1522},{277,222}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00020.png</string>
                        <key>spriteOffset</key>
                        <string>{103,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{509,1745},{277,222}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00021.png</string>
                        <key>spriteOffset</key>
                        <string>{103,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{226,1751},{277,222}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00022.png</string>
                        <key>spriteOffset</key>
                        <string>{103,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{1071,1566},{277,221}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>beginjump/beginjump_00023.png</string>
                        <key>spriteOffset</key>
                        <string>{103,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{788,1746},{277,221}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>jump/jump_00000.png</string>
                        <key>spriteOffset</key>
                        <string>{103,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{500,350}</string>
                        <key>textureRect</key>
                        <string>{{1067,1789},{277,221}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
